@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #CAD3C8;
}
main{
    display: block;
    margin: 0;
}
.main-content{
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 300px 700px;
}
.left-section{
    grid-area: 1/1/3/2;
    grid-column: span 1;
    background-color: #0984e3;

}
.right-section{
    grid-area: 1/2/3/3;
    grid-column: span 1/ span 2;
    background-color: #f7f1e3;
}
.left-content{
    padding: 1rem ;
}
.profile-image{
    display: block;
    margin: auto;
    border: 5px white solid;
    border-radius: 30%;
    width: 60%;   
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02px;
    padding: 0.8rem;
    text-transform: uppercase;
    color:white;
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    color: aqua;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
.social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}
.icon{
    cursor: pointer;
    list-style: none;
    
    
}
.skills{
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}
.skill-name{
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align:left;
    padding-bottom: 0.5rem;
}
.progress-bar{
    border: 1px white solid;
    height: 4px;
    background-color: white;
}
.right-section{
    padding-top: 2rem;
    padding-bottom: 32px;
    padding-right: 48px;
    padding-left: 3rem;
}
.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
@media only screen and (max-width:673px){
    .main-content {
        grid-template-columns: repeat(1, 1fr);
       
    }
    }
    
@media only  screen and (max-width:630px){
        .main-content {
            grid-template-columns: repeat(1, 1fr);
          
        }
        }
        
